footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    border-bottom: 1px solid #363636;
    align-items: center;
}
