<nav class="navbar">
    <div class="container">
        <span><img src="assets/img/icon.png"></span>
        <ul class="menu">
            <li><a [class.active]="currentSection === 'about'" (click)="scrollToSection('about')">About</a></li>
            <li><a [class.active]="currentSection === 'skills'" (click)="scrollToSection('skills')">Skills</a></li>
            <li><a [class.active]="currentSection === 'experience'" (click)="scrollToSection('experience')">Projects</a></li>
            <li><a [class.active]="currentSection === 'contact'" (click)="scrollToSection('contact')">Contact me</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</nav>

