.custom-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    color: #363636;
    font-weight: bold;
    background: #f9f9f9;
    height: 60px;
    left: 0;
    right: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100%;
}

.logo img {
    width: 50px;
    height: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
    cursor: pointer;
}

.menu li a:hover {
    color: #000000;
    border-bottom: 1px solid #000;
    padding: 6px;
}

.menu li a.active {
    color: #000000;
    border-bottom: 1px solid #000;
    padding: 6px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 102;
    position: relative;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background-color: #363636;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.burger-menu.active span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #737373;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 99;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.59);
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}

.scroll-to-top:hover {
    background: #333;
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        background: #000;
        width: 100%;
        height: 100vh;
        padding: 80px 40px 40px;
        transition: right 0.3s ease;
        gap: 30px;
        justify-content: flex-start;
        overflow-y: auto;
        z-index: 101;
    }

    .menu.active {
        right: 0;
    }

    .menu li {
        width: fit-content;
    }

    .menu li a {
        display: block;
        padding: 15px 0;
        font-size: 24px;
        font-weight: 600;
        border: none;
        color: #fff;
    }

    

    .menu li a.active {
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 6px;
    }
}




