<section id="about">
    <div class="about-grid">
        <div class="about">
            
            <div>
                <h1>Front-End Developer</h1>
            </div>
            <div>
                <p>Hi I'm Lana Mezvrishvili. A passionate Front End Developer  <br> & Student of Information Technology</p>
            </div>
            <div class="contac-me">
                
                <a (click)="scrollToSection('contact')">
                    <h3>CONTACT ME  →</h3>
                </a>
            </div>
            
        </div>
        <div class="Circle">
            <figure class="ball bubble"></figure>
        </div>
    </div>
</section>
