<section id="about">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 d-flex flex-column gap-5 order-2 order-md-1">

            <div class="info">
                <h1> Hello I'am <b>Lana Mezvrishvili</b> <br> Frontend <span class="outlined-text">Developer</span> </h1>
            </div>

            <div class="social-links">
                <a href="https://linkedin.com/in/lana-mezvrishvili" target="_blank" class="social-button" aria-label="LinkedIn">
                    <img src="assets/img/LinkedIn.svg" alt="LinkedIn">
                </a>

                <a href="https://github.com/Lan-Star01" target="_blank" class="social-button" aria-label="GitHub">
                    <img src="assets/img/GitHub.svg" alt="GitHub">
                </a>

                <a href="assets/Profile.pdf" download="Lana_Mezvrishvili_CV.pdf" class="social-button cv-button" aria-label="Download CV">
                    <img src="assets/img/Download-Resume.svg" alt="Download Resume">
                </a>
            </div>

            <div class="contac-me">
                <a (click)="scrollToSection('contact')">
                    <h3>CONTACT ME  →</h3>
                </a>
            </div>

            </div>
            <div class="col-12 col-md-6 text-center order-1 order-md-2">
                <img src="assets/img/girl banner 1.png" loading="lazy" alt="girl image" />
            </div>
        </div>
    </div>
</section>
