#contact {
    min-height: 100vh;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #363636;
    display: flex;
    align-items: center;
}

.field {
    padding: 2%;
    margin-top: 1rem;
    border-radius: 36px 10px;
    border: 1px;
}

textarea {
    resize: none;
}

.button {
    font-size: 25px;
    background: transparent;
    border: none;
    margin-top: 1rem;
    font-weight: bold;
    color: #363636;
    cursor: pointer;
    text-align: end;
}

.error {
    color: red;
    font-size: 12px;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    display: grid;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: 45vh;
    width: 30vw;
  }

  .modal-content h2 {
    color: #00d900;
    font-size: 51px;
    margin-top: 16vh;
  }
  
  .modal-content button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: gray;
    font-weight: bold;
  }

  @media (max-width: 1715px) {
    p {
        width: 81%;
    }
  }

  @media (max-width: 768px) {
    #contact {
        min-height: auto;
    }

    .button {
        font-size: 18px;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .contact-grid {
        width: 100%;
    }

    .modal-content {
        width: 80vw;
        height: auto;
        padding: 30px;
    }

    .modal-content h2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .field {
        padding: 3%;
    }
  }