<section id="skills">
    <div class="container-fluid">
        <div class="skills-grid">
            <h1 class="section-title text-center mb-5 text-black">Skills</h1>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
              <div class="col" *ngFor="let skill of skills">
                <div class="card h-100">
                  <div class="card-body text-center">
                    <img [src]="skill.icon" [alt]="skill.name + ' icon'" class="skill-icon mb-4" loading="lazy">
                    <h5 class="card-title">{{ skill.name }}</h5>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
