* {
    font-family: 'Sora', sans-serif;
}

body{
    background: #f9f9f9;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    &::-webkit-scrollbar{
        display: none;
    }
}

html {
    overflow-x: hidden;
    max-width: 100vw;
}

section {
    padding: 60px 80px;
}

@media (max-width: 768px) {
    section {
        padding: 40px 20px;
    }

    .section-title {
        font-size: 32px !important;
    }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
}
 