#experience {
    height: 100vh;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #363636; 
}


h1 {
  padding: 6%;
  font-size: 34px;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: start;
}
.card {
  position: relative;
  font-weight: bold;
  width: 15vw;
  height: 40vh;
  margin: 10px;
}
/* 

.card {
  position: relative;
  font-weight: bold;
  width: 300px;
  height: 400px;
  margin: 10px;
} */
  
.card--border {
  position: absolute;
  width: calc(100% + 58px);
  height: calc(100% + 51px);
  left: 2px; 
  top: 2px; 
  border: 2px dashed #363636;
  border-radius: 38px;
  z-index: -1;
}
  
.card a {
  padding: 30px;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 38px;
  background: white;
  text-decoration: none;
  color: #363636;
  display: block;
  transition: 0.25s ease;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
  
.card a:hover {
  transform: translate(-30px, -30px);
  border-color: #ffffff;
  border-radius: 38px;
}

.card a:hover .card--display {
  display: none;
}

.card a:hover .card--hover {
  display: block;
}

.card--display {
  margin-top: 22vh;
}

.card--display i {
  font-size: 60px;
  margin-top: 200px;
}

.card--display h2 {
  margin: 20px 0 0;
}

.card--display img{
  margin-left: 1.5vh;
}

.card--hover {
  display: none;
}

.card--hover h2 {
  margin: 20px 0;
}

.card--hover p {
  font-weight: normal;
  line-height: 1.5;
}

.card--hover p.link {
  margin: 20px 0 0;
  font-weight: bold;
  color: #5bc0eb;
}



@media (min-width: 1490px) and (max-width: 1740px) {
  .card--hover p{
    font-size: 15px;
  }
} 


@media (min-width: 1386px) and (max-width: 1489px) {
  .card--hover p{
    font-size: 14px;
  }
}


@media (min-width: 1182px) and (max-width: 1385px) {
  .card--hover p{
    font-size: 13px;
  }
}

@media (min-width: 1065px) and (max-width: 1181px) {
  .card--hover p{
    font-size: 12px;
  }
}

@media (min-width: 900px) and (max-width: 1064px) {
  .card--hover p{
    font-size: 11px;
  }
}


@media (max-width: 900px) {
  
  .card-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: normal;
  }

  .card {
    position: relative;
    font-weight: bold;
    width: 60vw;
    height: 15vh;
    margin: auto;
    margin-top: 12%;
  } 

  .card--hover p{
    font-size: 13px;
  }

  .card--hover h2{
    font-size: 17px;
  }

  .card--display {
    margin-top: 4vh;
  }
}


@media (max-width: 780px) {
  
  .card-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: normal;
  }

  .card {
    position: relative;
    font-weight: bold;
    width: 60vw;
    height: 15vh;
    margin: auto;
    margin-top: 13.5%;
  } 

  .card--hover p{
    font-size: 12px;
  }

  .card--hover h2{
    font-size: 17px;
  }

  .card--display {
    margin-top: 4vh;
  }
}


@media (max-width: 720px) {
  
  .card-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: normal;
  }

  .card {
    position: relative;
    font-weight: bold;
    width: 65vw;
    height: 15vh;
    margin: auto;
    margin-top: 13.5%;
  } 

  .card--hover p{
    font-size: 12px;
  }

  .card--hover h2{
    font-size: 17px;
  }

  .card--display {
    margin-top: 4vh;
  }
}

@media (max-width: 660px) {
  
  .card-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: normal;
  }

  .card {
    position: relative;
    font-weight: bold;
    width: 70vw;
    height: 15vh;
    margin: auto;
    margin-top: 15%;
  } 

  .card--hover p{
    font-size: 12px;
  }

  .card--hover h2{
    font-size: 17px;
  }

  .card--display {
    margin-top: 4vh;
  }
}

@media (max-width: 615px) {
  
  .card-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: normal;
  }

  .card {
    position: relative;
    font-weight: bold;
    width: 70vw;
    height: 15vh;
    margin: auto;
    margin-top: 16%;
  } 

  .card--hover p{
    font-size: 12px;
  }

  .card--hover h2{
    font-size: 14px;
  }

  .card--display {
    margin-top: 4vh;
  }
}

@media (max-width: 600px) {
  
  .card-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: normal;
    margin-right: 12vw;
  }

  .card {
    position: relative;
    font-weight: bold;
    width: 70vw;
    height: 15vh;
    margin: auto;
    margin-top: 23%;
  } 

  .card--hover p{
    font-size: 11px;
  }

  .card--hover h2{
    font-size: 14px;
  }

  .card--display {
    margin-top: 4vh;
  }
}


@media (max-height: 1000px) {

  #experience {
    height: 180vh;
  }

  .card--display img {
    width: 14%;
  }

  .card--display h2{
    font-size: 12px;
  }
  .card--hover p{
    font-size: 9.5px;
  }

  .card {
    position: relative;
    font-weight: bold;
    width: 70vw;
    height: 28vh;
    margin: auto;
    margin-top: 40%;
  } 

}

